/* Estilos Gerais */
body {
    font-family: 'Times New Roman', serif;
    background-color: #f4f9f4;
    color: #000000;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 16px;
    color: #000000;
}

h3 {
    font-size: 28px;
    color: #000000;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Header */
header {
    background-color: #39b153
    ;
    color: white;
    padding: 5px;
    text-align: center;
}

header h1 {
    font-size: 40px;
}

header p {
    font-size: 20px;
}

/* Conteúdo */
.content {
    margin: 30px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    text-align: center;
    font-size: 32px;
}

.section p, .section ul {
    text-align: justify;
}

.section ul {
    list-style-type: square;
    margin-left: 20px;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

